{% load static %}

<!DOCTYPE html>
<head>    
    <title>Fantastic Five Trading Sandbox!!!</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
  {% block head %}
  <link rel="stylesheet" href="{% static 'sandbox/style.css' %}">
  {% endblock %}
</head>

<body>
  <a href="{% url 'home' %}">Home | </a>
  <a href="{% url 'ownerlist' %}">Member Rankings | </a>
  <a href="{% url 'portfoliolist' %}">Portfolio Rankings | </a>
  <a href="{% url 'ownercreate' %}">Register | </a>
  <a href="{% url 'portfoliocreate' %}">Create Portfolio |</a>
  <a href="{% url 'cointable' %}">Cryptocurrency Rankings</a>
  <h1>Welcome to Crytpo Trading Sandbox!</h1>

  <div class="coin-icon-div">
      <img class="coin-icon-img" src="{% static coin_icon %}" alt={{ ticker }}>
      <label class="coin-icon-label">{{ ticker }}</label><br>
  </div>
  <div class="coin-name-div">
      <p class="coin-name-p">{{ coin_name }}</p>
  </div>
  {% block content %}
  {% endblock %}
</body>

