{% extends './base.html' %}
{% block content %}

<h2>Member List</h2>
<a href="{% url 'membercreate' %}"><button class="btn">Add Member</button></a>
<table id="members">
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
            <th></th>
            <th></th>
    </tr>
    {% for member in member_list %}
    <tr>
        <td>{{ member.first_name }}</td>
        <td>{{ member.last_name }}</td>
        <td>{{ member.phone }}</td>
        <td><a href="{% url 'memberupdate' member.id %}"><button>Edit</button></a></td>
        <td><a href="{% url 'memberdelete' member.id %}"><button>Delete</button></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

