{% extends './base.html' %}
{% block content %}
<h2>Owner List</h2>
<a href="{% url 'ownercreate' %}"><button class="btn">Add Owner</button></a>
<table id="owners">
  <tr>
    <th>Username</th>
    <th>First</th>
    <th>Last</th>
    <th>email</th>
      <th> </th>
      <th> </th>
  </tr> 
  {% for owner in owner_list|dictsort:"username" %}
  <tr>
    <td><a href="{% url 'portfoliolist' %}">{{ owner.username }}</a></td>
    <td>{{ owner.first_name }}</td>
    <td>{{ owner.last_name }}</td>
    <td>{{ owner.email }}</td>
    <td><a href="{% url 'portfoliocreate' %}">Create Portfolio</a></td>
    <td><a href="{% url 'ownerupdate' owner.id %}">Edit</a></td>
    <td><a href="{% url 'ownerdelete' owner.id %}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
